<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Placement Eligibility Tester</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Placement Eligibility Tester</h1>
        <form action="/predict" method="post">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="Gender">Gender:</label>
                <input type="text" class="form-control" id="Gender" name="Gender" required>
            </div>
            <div class="form-group">
                <label for="CGPA">CGPA:</label>
                <input type="number" step="any" class="form-control" id="CGPA" name="CGPA" required>
            </div>
            <div class="form-group">
                <label for="department">Department:</label>
                <input type="text" class="form-control" id="department" name="department" required>
            </div>
            <div class="form-group">
                <label for="internship_experience">Internship Experience :</label>
                <input type="number" class="form-control" id="internship_experience" name="internship_experience" required>
            </div>
            <div class="form-group">
                <label for="Aptitude_score">Aptitude Score:</label>
                <input type="number" class="form-control" id="Aptitude_score" name="Aptitude_score" required>
            </div>
            <div class="form-group">
                <label for="Communication_Skill_Score(out_of_10)">Communication Skill Score (out of 10):</label>
                <input type="number" step="any" class="form-control" id="Communication_Skill_Score(out_of_10)" name="Communication_Skill_Score(out_of_10)" required>
            </div>
            <div class="form-group">
                <label for="skills">Skills (comma separated):</label>
                <input type="text" class="form-control" id="skills" name="skills" required>
            </div>
            <div class="form-group">
                <label for="company">Company:</label>
                <select id="company" name="company" class="form-control" required>
                    <option value="Zoho">Zoho</option>
                    <option value="Accenture">Accenture</option>
                    <option value="IBM">IBM</option>
                    <option value="Cognizant">Cognizant</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Predict</button>
        </form>
    </div>
</body>
</html>
